@font-face {
    font-family: "browood";
    src: url(../Styles/fonts/Browood.ttf);
}

/*estilos para el titulo y el cuerpo del archivo*/
body{
    margin: 0;
    background-color: #FF004D;
}

.title{
    padding: 8px 2px 8px 2px;
    margin: 10px 60px 0px 60px; 
    background-color: #1D2B53;
    border-radius: 30px;
    border: 4px solid #7E2553;
}

    h1{
        margin: 16px;
        text-align: center;
        font-size: 300%;
        font-weight: bolder;
        font-family: browood;
        font-size: 350%;
        color: #FAEF5D;
    }

/*estilos para elementos de display para las jugadas de la computadora
  el humano y botones para jugar la partida*/  
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top: 0px;
    padding-bottom: 15px;
    font-family: browood;
    background-color: #FF004D;
}

/*contenedor con todas los recursos utilizados para representar las opciones
  del jugador
*/
    .player-conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .options{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
            padding-right: 40px;
        }

            .option {
                background-color: #1D2B53;
                border: 4px solid #7E2553;
                border-radius: 8px;
                box-sizing: border-box;
                color: #FAEF5D;
                cursor: pointer;
                display: inline-block;
                font-family: browood;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                margin: 0;
                outline: none;
                padding: 8px 10px;
                position: relative;
                text-align: center;
                text-decoration: none;
                touch-action: manipulation;
                transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
                user-select: none;
                -webkit-user-select: none;
                width: auto;
            }
            
            .option:focus-visible {
                box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
                transition: box-shadow .2s;
            }
            
            .option:active {
                background-color: #FF004D;
                border-color: #FAEF5D;
                transform: scale(.96);
            }
            
            .option:disabled {
                background-color: #FF004D;
                border-color: #FF004D;
                color: #FF004D;
                cursor: default;
                opacity: 1;
            }
        
/*contenedor con todos los recursos utilizados para representar la jugada
  de la computadora
*/
    .computer-conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;
    }

        .player-option, .computer-option{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            height: 280px;
            border: 4px solid #7E2553;
            border-radius: 25px;
            background-color: #FAEF5D;
        }

        .human-title,.computer-title{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 200px;
            border-radius: 25px;
            margin-bottom: 10px;
            border: 4px solid #7E2553;
            background-color: #1D2B53;
        }
/*
el estilo de la imagen con la opcion seleccionada para jugar es la misma para la
computadora como para el jugador, lo mismo con la etiqueta humanno y computadora
*/
        .img-option{
            background-color: #FAEF5D;
            height: 75%;
            width: 75%;
            object-fit: contain;
            border-radius: 0px;
        }

        h2{
            color: #FAEF5D;
        }
/*
estilo para las imagenes y los botones del medio, incluye la imagen de versus, 
el boton para jugar como tambien el contener que posee a ambos
*/
    .option-middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

        #img-versus{
            background-color: #FF004D;
            width: 35%;
            height: 35%;
            margin: 0;
            padding: 0;
            padding-top: 80px;
        }

        .play{
            background-color: #1D2B53;
            border: 4px solid #7E2553;
            border-radius: 8px;
            box-sizing: border-box;
            color: #FAEF5D;
            cursor: pointer;
            display: inline-block;
            font-family: browood;
            font-size: 38px;
            font-weight: 600;
            line-height: 20px;
            margin: 0;
            outline: none;
            padding: 8px 10px;
            position: relative;
            text-align: center;
            text-decoration: none;
            touch-action: manipulation;
            transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
            user-select: none;
            -webkit-user-select: none;
            width: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 12px 50px 12px 50px;
            padding-left: 50px;
            padding-right: 50px;
        }  
        
            .play:active {
                background-color: #FF004D;
                border-color: #FAEF5D;
                transform: scale(.96);
            }
            
/*
estilo para el contenedor que contiene el texto donde se selecciona al ganador
*/
.conteiner-txt-winner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    border-radius: 25px;
    border: 4px solid #7E2553;
    background-color: #1D2B53;
}

    .txt-winner{
        font-family: browood;
        font-size: 150%;
        font-weight: bolder;
        color:#FAEF5D;
    }

    .img-winner{
        height: auto;
        width: 10%;
        padding-right: 10px;
    }
